---

---

<footer>
  <div class="column">
    <h3 class="brand-name">Luna Lab</h3>
    <p class="brand-description">
      Independent EdTech R&D lab accelerating innovation in education through
      cutting-edge research and open-source software development.
    </p>
    <div class="social-links">
      <a href="https://github.com/LunaLabResearch" target="_blank" class="link">
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><title>GitHub</title><path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path></svg
        >
      </a>
      <a href="https://x.com/LunaLabResearch" target="_blank" class="link">
        <svg
          role="img"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><title>X</title><path
            d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
          ></path></svg
        >
      </a>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2024 Luna Lab</p>
    <p>
      Except where otherwise noted, the content on this website is licensed
      under <a
        href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
        target="_blank">Attribution-ShareAlike 4.0 International</a
      >
    </p>
    <p>
      The <a href="https://github.com/LunaArtSociety/luna.sbs" target="_blank"
        >source code</a
      > is licensed under the <a
        href="https://github.com/LunaArtSociety/luna.sbs?tab=AGPL-3.0-1-ov-file#readme"
        target="_blank">GNU Affero General Public License</a
      >.
    </p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--primary-light);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .column {
    flex-basis: calc(50% - 3rem);
  }

  @media (max-width: 768px) {
    .column {
      flex-basis: 100%;
    }
  }

  a,
  a:visited {
    color: var(--primary-light);
    text-decoration: none;
  }

  a:hover {
    font-weight: 700;
  }

  h3,
  p {
    font-family: "Montserrat", sans-serif;
  }

  h3 {
    font-weight: 600;
    font-size: 1.33rem;
  }

  .brand-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    line-height: 1;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
  }

  .brand-name {
    font-weight: 700;
  }

  .social-links {
    display: flex;
    gap: 8px;
  }

  .link svg {
    width: 20px;
    height: 20px;
    color: var(--primary-light);
  }

  .copyright {
    width: 100%;
  }

  .copyright p {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
</style>
